<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>YZUIC Phaser Lab</title>

    <!-- bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
        crossorigin="anonymous"></script>
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.1.min.js"
        integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>

    <!-- axios -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.1.3/axios.min.js"></script>

    <!-- xlsx model -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.18.1/xlsx.min.js"></script>
</head>

<body>
    <!-- loading -->
    <div class="container-fluid loadingContainer">
        <div class="loadingDiv">
            <div class="loader">
                <span>Loading...</span>
            </div>
        </div>
    </div>
    <!-- nav -->
    <div class="container-fluid navContainer">
        <div class="row justify-content-center align-items-center navBar">
            <div class="col-2 nav_image">
                <img src="../media/img/amumamum.PNG" alt="home" style="width:80px;height: 80px;">
            </div>
            <div class="col-4 nav_title">
                <h3>Admin Center</h3>
            </div>
            <div class="col-2 nav_account">
                <h3 class="nav_studentId">
                    <%= adminId %>
                </h3>
                <div class="nav_setting" id="settingDropDown" data-bs-toggle="dropdown" aria-expanded="false">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" width="100%" height="40px">
                        <path
                            d="M224 256c70.7 0 128-57.3 128-128S294.7 0 224 0S96 57.3 96 128s57.3 128 128 128zm-45.7 48C79.8 304 0 383.8 0 482.3C0 498.7 13.3 512 29.7 512H418.3c16.4 0 29.7-13.3 29.7-29.7C448 383.8 368.2 304 269.7 304H178.3z" />
                    </svg>
                </div>
                <ul class="dropdown-menu dropdown-menu-dark dropdown-menu-end" aria-labelledby="settingDropDown">
                    <li>
                        <h6 class="dropdown-header">Setting</h6>
                    </li>
                    <li>
                        <a class="dropdown-item" id="changePassword">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" width="15px" height="100%"
                                style="fill:rgba(255,255,255,0.5);margin-right: 7px;margin-bottom: 3px;">
                                <path
                                    d="M144 144v48H304V144c0-44.2-35.8-80-80-80s-80 35.8-80 80zM80 192V144C80 64.5 144.5 0 224 0s144 64.5 144 144v48h16c35.3 0 64 28.7 64 64V448c0 35.3-28.7 64-64 64H64c-35.3 0-64-28.7-64-64V256c0-35.3 28.7-64 64-64H80z" />
                            </svg>Change Password
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" id="logout">
                            <svg xmlns="http://www.w3.org/2000/svg" width="15px" height="100%"
                                style="fill:rgba(255,255,255,0.5);margin-right: 5px;margin-bottom: 3px;"
                                viewBox="0 0 512 512">
                                <path
                                    d="M160 96c17.7 0 32-14.3 32-32s-14.3-32-32-32H96C43 32 0 75 0 128V384c0 53 43 96 96 96h64c17.7 0 32-14.3 32-32s-14.3-32-32-32H96c-17.7 0-32-14.3-32-32l0-256c0-17.7 14.3-32 32-32h64zM504.5 273.4c4.8-4.5 7.5-10.8 7.5-17.4s-2.7-12.9-7.5-17.4l-144-136c-7-6.6-17.2-8.4-26-4.6s-14.5 12.5-14.5 22v72H192c-17.7 0-32 14.3-32 32l0 64c0 17.7 14.3 32 32 32H320v72c0 9.6 5.7 18.2 14.5 22s19 2 26-4.6l144-136z" />
                            </svg>
                            Logout
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" id="studentCenter">
                            student Center
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- content -->
    <div class="container goListContainer">
        <div class="container-sm goListTitle">
            <span class="goListTitle_Selection title_selected" id="Course">所有課程</span>
            <span> || </span>
            <span class="goListTitle_Selection" id="Student">學生名單</span>
            <span> || </span>
            <span class="goListTitle_Selection" id="Group">學生群組</span>
        </div>
        <div class="container-sm goListCourse"></div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="adminContainer_modal" tabindex="-1" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="adminContainer_modal_title"></h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body" id="adminContainer_modal_content">

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" id="adminContainer_modal_cancel"
                        data-bs-dismiss="modal">關閉</button>
                    <button type="button" class="btn btn-primary" id="adminContainer_modal_submit">送出</button>
                </div>
            </div>
        </div>
    </div>
</body>
<script type="module" src="../js/admin/home.js"></script>
<link rel="stylesheet" href="../css/admin/home.css">
<link rel="stylesheet" href="../css/home/home.css">
<link rel="stylesheet" href="../global/loader.css">

</html>