<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="https://cdn.jsdelivr.net/npm/gojs@2.1/release/go.js"></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
    crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.6.1.min.js"
    integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>

  <!-- axios -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.1.3/axios.min.js"></script>
  <!-- CodeMirror-->
  <!-- 必要引入 -->
  <link href="../codemirror-5.65.9/lib/codemirror.css" rel="stylesheet" />
  <script src="../codemirror-5.65.9/lib/codemirror.js"></script>
  <!-- 主題引入 -->
  <link href="../codemirror-5.65.9/theme/blackboard.css" rel="stylesheet" />
  <!-- JavaScript高亮 -->
  <script src="../codemirror-5.65.9/mode/javascript/javascript.js"></script>
  <!-- 支持代碼折疊 -->
  <link rel="stylesheet" href="../codemirror-5.65.9/addon/fold/foldgutter.css" />
  <script src="../codemirror-5.65.9/addon/fold/foldcode.js"></script>
  <script src="../codemirror-5.65.9/addon/fold/foldgutter.js"></script>
  <script src="../codemirror-5.65.9/addon/fold/brace-fold.js"></script>
  <script src="../codemirror-5.65.9/addon/fold/comment-fold.js"></script>
  <!-- 提供Hint -->
  <link rel="stylesheet" href="../codemirror-5.65.9/addon/hint/show-hint.css" />
  <script src="../codemirror-5.65.9/keymap/sublime.js"></script>
  <script src="../codemirror-5.65.9/addon/hint/show-hint.js"></script>
  <script src="../codemirror-5.65.9/addon/hint/anyword-hint.js"></script>
  <script src="../codemirror-5.65.9/addon/hint/javascript-hint.js"></script>
</head>

<body>
  <div style="width: 100%; display: flex; justify-content: space-between; margin-top: 20px;">
    <div id="myPaletteDiv"
      style="width: 200px; margin-right: 2px; background-color: rgb(40, 44, 52); position: relative; -webkit-tap-highlight-color: rgba(255, 255, 255, 0);">
      <canvas tabindex="0" width="200" height="1800"
        style="position: absolute; top: 0px; left: 0px; z-index: 2; user-select: none; touch-action: none; width: 100px; height: 750px;">This
        text is displayed if your browser does not support the Canvas HTML element.</canvas>
    </div>
    <div id="myDiagramDiv"
      style="flex-grow: 1; height: 900px; background-color: rgb(40, 44, 52); position: relative; -webkit-tap-highlight-color: rgba(255, 255, 255, 0); cursor: auto;">
      <canvas tabindex="0" width="1900" height="1800"
        style="position: absolute; top: 0px; left: 0px; z-index: 2; user-select: none; touch-action: none; width: 954px; height: 750px; cursor: auto;">This
        text is displayed if your browser does not support the Canvas HTML element.</canvas>
    </div>
  </div>
  <button id="SaveButton" disabled="">Save</button>
  <button id="LoadButton">Load</button>
  Diagram Model saved in JSON format:
  <textarea id="mySavedModel" style="width:100%;height:300px">
    { "class": "GraphLinksModel",
    "linkFromPortIdProperty": "fromPort",
    "linkToPortIdProperty": "toPort",
    "nodeDataArray": [
  {"category":"Start","text":"任務一:小炸彈","key":"1","loc":"-129 -132"},
  {"category":"Start","text":"任務二:小飛機","key":"2","loc":"-127 57"},
  {"category":"Start","text":"任務三:小坦克","key":"3","loc":"-124.35 228.7499999999999"},
  {"category":"Understanding","text":"探索與理解","key":-1,"loc":"59 -57"},
  {"category":"Formulating","text":"表徵與制定","key":-2,"loc":"248 -239"},
  {"category":"Programming","text":"計畫與執行","key":-3,"loc":"499.2121539916991 -92.50000000000011"},
  {"category":"Reflection","text":"監控與反思","key":-4,"loc":"712 -270"},
  {"category":"Comment","text":"筆記","key":-6,"loc":"27 -204"},
  {"category":"Comment","text":"筆記","key":-9,"loc":"486 -258"}
  ],
    "linkDataArray": [
  {"from":"1","to":-1,"fromPort":"R","toPort":"L","points":[-82.57909393310547,-132,-72.57909393310547,-132,-38.489532470703125,-132,-38.489532470703125,-57,-4.399971008300783,-57,5.600028991699217,-57]},
  {"from":-1,"to":-2,"fromPort":"R","toPort":"L","points":[112.39997100830078,-57,122.39997100830078,-57,153.5,-57,153.5,-239.00000000000006,184.60002899169922,-239.00000000000006,194.60002899169922,-239.00000000000006]},
  {"from":-2,"to":-3,"fromPort":"R","toPort":"L","points":[301.3999710083008,-239.00000000000006,311.3999710083008,-239.00000000000006,373.60607699584955,-239.00000000000006,373.60607699584955,-92.50000000000011,435.8121829833983,-92.50000000000011,445.8121829833983,-92.50000000000011]},
  {"from":-3,"to":-4,"fromPort":"R","toPort":"L","points":[552.6121249999999,-92.50000000000011,562.6121249999999,-92.50000000000011,564,-92.50000000000011,564,-92.50000000000011,612,-92.50000000000011,612,-270.00000000000006,648.6000289916992,-270.00000000000006,658.6000289916992,-270.00000000000006]}
  ]}
    </textarea>
  <button id="PrintButton">Print Diagram Using SVG</button>
</body>
<script type="module" src="../js/gogrammingList.js"></script>
<link rel="stylesheet" href="../css/gogrammingList.css" type="text/css" />

</html>