<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>YZUIC Phaser Lab</title>

    <!-- bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
        crossorigin="anonymous"></script>
    <!-- jquery -->
    <script src="https://code.jquery.com/jquery-3.6.1.min.js"
        integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>

    <!-- axios -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.1.3/axios.min.js"></script>

    <!-- script -->
    <link rel="stylesheet" href="../css/index.css">
    <link rel="stylesheet" href="../global/loader.css">
</head>

<body>
    <div id="background" class="container-fluid"></div>
    <div class="container-fluid loadingContainer">
        <div class="loadingDiv">
            <div class="loader">
                <span>Loading...</span>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="container-sm justify-content-center loginContainer">
            <div class="loginDiv">
                <div class="row align-items-center">
                    <div class="col-8 loginInput">
                        <h2 class="formTitle">Yzu FlowChart</h2>
                        <div class="form-floating mb-3">
                            <input id="account" name="studentId" type="text" class="form-control" id="floatingInput"
                                placeholder="帳號">
                            <label for="floatingInput">🍇帳號</label>
                        </div>
                        <div class="form-floating">
                            <input id="password" name="studentPassword" type="password" class="form-control"
                                id="floatingPassword" placeholder="密碼">
                            <label for="floatingPassword">🍇密碼</label>
                        </div>
                        <button id="formSubmit" class="btn btn-secondary">登入</button>
                    </div>
                    <div class="col-4 auther">
                        <h4>Author</h4>
                        <img class="authorImg" src="../media/img/amumamum.PNG">
                        <p>Copyright© Henry.H</p>
                        <p>All right reserved.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<script type="module" src="../js/index.js"></script>

</html>