body {
    overflow: hidden;
}
#background {
    position: absolute;
    overflow: hidden;
    top: 0;
    background-image: url("../media/img/indexBg.png");
    height: 100vh;
    animation: flow 1.5s ease;
    transform: scale(1.2);
}
.loginContainer {
    padding: 20vh 0;
}

.loginDiv {
    margin: 0 auto;
    width: 50%;
    border: 3px solid black;
    border-radius: 15px;
    padding: 5px 15px;
    background-color: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(5px);
    box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.5);
}

.formTitle {
    margin-top: 20px;
}

.loginInput {
    height: 300px;
}

.auther {
    height: 250px;
    border-left: 2px solid black;
}

.authorImg {
    width: 100px;
}

#formSubmit {
    margin-top: 20px;
    width: 70px;
}

@media (max-width: 1400px) {
    .loginDiv {
        width: auto;
    }
    .auther {
        width: auto;
        height: 100px;
        display: flex;
        border-top: 2px solid black;
        border-left: none;
    }
    .row {
        display: inherit;
    }
    .loginInput {
        width: auto;
    }
}

@keyframes flow {
    from {
        opacity: 0;
        transform: scale(1);
        filter: blur(5px);
    }
    to {
        opacity: 1;
        transform: scale(1.2);
        filter: blur(0px);
    }
}
