.formulatingDescription_container,
.writeFormulatingDescription_container {
    padding: 10px 24px;
    height: 80vh;
    overflow-y: auto;
}

.writeFormulatingDescription_target h3,
.formulatingDescription_target h3 {
    font-weight: bolder;
    font-size: 40px;
}

.formulatingDescription_contentBox,
.writeFormulatingDescription_contentBox {
    margin: 15px auto;
    padding: 12px 20px;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.4);
    box-shadow: 0 0 5px 2px rgba(94, 94, 94, 0.8);
    transition-duration: 0.3s;
}

.writeFormulatingDescription_contentBox:hover {
    background-color: rgba(94, 94, 94, 0.8);
}

.formulatingDescription_contentTitle h4 {
    font-weight: bolder;
    margin-bottom: 20px;
    font-size: 30px;
}

.formulatingDescription_contentDescription p {
    font-family: "Ubuntu", sans-serif;
    margin: 15px;
    font-size: 20px;
}

.formulatingDescription_contentCode,
.formulatingDescription_contentDescription {
    padding: 5px 20px;
}

.formulatingDescription_contentBox_interfacing {
    padding: 10px 10px;
    justify-content: center;
}
.formulatingDescription_interfacing {
    padding: 0;
    margin: 0;
    overflow: hidden;
}
.formulatingDescription_launchbtn {
    margin: 5px 50px;
    width: 200px;
}

/*write Formulating Description */
.writeFormulatingButton {
    margin: 20px;
}

.writeFormulatingDescription_contentCode {
    margin: 15px;
}
.writeFormulatingDescription_contentTitle {
    margin: 15px;
}
.writeFormulatingDescription_contentDescription {
    height: 300px;
    margin: 15px;
}
