.understandingDescription_container {
    padding: 10px 24px;
    height: 75vh;
    overflow-y: auto;
}

.understandingDescription_target h3 {
    font-weight: bolder;
    font-size: 40px;
}

.understandingDescription_operation,
.understandingDescription_limit {
    margin: 15px auto;
    padding: 12px 20px;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.4);
    box-shadow: 0 0 5px 2px rgba(94, 94, 94, 0.8);
}

.understandingDescription_operation h4,
.understandingDescription_limit h4 {
    font-weight: bolder;
    margin-bottom: 10px;
    font-size: 30px;
}
.understandingDescription_operation p,
.understandingDescription_limit p {
    margin: 15px;
    font-size: 20px;
}

/* start */
.startBoxContainer{
    height: 80%;
    pointer-events: all;
}
.startDescription_container{
    margin:20px 0;
}
.startDescription_container h3{
    font-weight: bolder;
}
.codeTutorial_container{
    height: 600px;
}
.codeTutorial_code{
    width: 100%;
}

.startDemoFinish {
    animation: startdemoloaded .3s steps(500);
}

@keyframes startdemoloaded {
    from {
        transform: translateY(-95vh);
    }
    to {
        transform: translateY(-10vh);
    }
}