/* chatBox */
.chatBoxContainer {
    overflow: hidden;
    display: flex;
    pointer-events: none;
    align-items: flex-end;
    justify-content: right;
    position: fixed;
    width: 100vw;
    height: 100vh;
    padding: 10px 10px;
    z-index: 1005;
}
.chatBox {
    position: relative;
    width: 70px;
    height: 70px;
    border-radius: 35px;
    text-align: center;
    pointer-events: all;
    background-color: rgb(128, 128, 128);
    transition-duration: 0.5s;
}
.chatBox:hover {
    transition-duration: 0.5s;
    box-shadow: 0 0 5px 1px wheat;
}
.chatBox_unreadCount {
    position: absolute;
    left: 80%;
    width: 26px;
    height: 26px;
    font-size: 18px;
    font-weight: bolder;
    border-radius: 13px;
    color: white;
    opacity: 0;
    background-color: black;
    transition-duration: 0.5s;
}
.unreadMessage {
    background-color: rgb(255, 163, 26) !important;
}

.chatBox_MessageContainer {
    pointer-events: all;
    width: 650px;
    height: 650px;
    margin-bottom: 80px;
    overflow: auto;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 5px 1px black;
    transform: translateX(70px);
    display: none;
    opacity: 0;
}
.chatBox_MessageTitle {
    height: 50px;
    font-size: 2rem;
    width: 100%;
    padding: 10px 10px;
    color: white;
    position: sticky;
    font-weight: bolder;
    background-color: rgb(40, 44, 52);
}
.chatBox_MessageBox {
    overflow: hidden;
    height: 600px;
}
.chatBox_MessageContent {
    height: 560px;
    overflow-y: auto;
    padding-bottom: 10px;
}

.chatBox_MessageEnterBox {
    height: 40px;
    position: sticky;
    align-self: flex-end;
    margin: 0 auto;
}
.chatBox_MessageEnterBox_Input {
    font-size: 20px;
}

.chatBox_enterMessage {
    font-family: "Ubuntu", sans-serif;
    width: 100%;
    padding: 10px 0;
    font-size: 10px;
    text-align: center;
    color: rgba(0, 0, 0, 0.8);
}

/* send Message Box setting */
.chatBox_sendMessageBox {
    padding: 3px 12px;
    display: flex;
    flex-wrap: wrap;
    text-align: right;
    justify-content: right;
    animation: fadeInAndUp 0.2s steps(100);
}
.chatBox_sendMessageBox_studentId {
    font-family: "Ubuntu", sans-serif;
    font-size: 12px;
    font-weight: bolder;
    width: 100%;
}
.chatBox_sendMessage_messageBox {
    font-size: 14px;
    line-height: 14px;
    font-weight: bold;
    padding: 10px 15px;
    word-break: break-all;
    text-align: left;
    max-width: 60%;
    border-radius: 5px;
    background-color: rgb(13, 90, 255);
    color: white;
}
.chatBox_sendMessage_messageBox span {
    word-wrap: break-word;
    white-space: pre-wrap;
}
.chatBox_sendMessage_sendTime {
    width: 100%;
    font-size: 8px;
}
/* receive Message Box setting */
.chatBox_receiveMessageBox {
    padding: 3px 12px;
    display: flex;
    flex-wrap: wrap;
    text-align: left;
    justify-content: left;
    animation: fadeInAndUp 0.2s steps(100);
}
.chatBox_receiveMessageBox span {
    word-wrap: break-word;
    white-space: pre-wrap;
}
.chatBox_receiveMessageBox_studentId {
    font-family: "Ubuntu", sans-serif;
    font-size: 12px;
    font-weight: bolder;
    width: 100%;
}
.chatBox_receiveMessage_messageBox {
    font-size: 14px;
    font-weight: bold;
    padding: 5px 15px;
    word-break: break-all;
    text-align: left;
    max-width: 60%;
    border-radius: 5px;
    background-color: rgb(189, 189, 189);
    color: black;
}
.chatBox_receiveMessage_sendTime {
    width: 100%;
    font-size: 8px;
}

#Message {
    min-height: 40px;
    height: 40px !important;
    resize: none;
    word-wrap: break-word;
    font-size: 20px;
    line-height: 20px;
}

#sendMessage {
    height: 40px;
}

#Message:focus {
    border: 2px solid rgb(13, 90, 255) !important;
    box-shadow: none;
}

@keyframes fadeInAndUp {
    from {
        opacity: 0;
        transform: translateY(10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}
